.searchContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.inputContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-bottom: 5vh;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.tableWrapper {
  overflow-x: auto;
}

th,
td {
  border: 0.5px solid #ddd;
  padding: 6px;
  width: 20vw;
  font-size: larger;
  border-radius: 3px;
}

th {
  color: white;
  background-color: #333;
}

td {
  transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

tr:hover {
  background-color: #e3e1e7;
  cursor: pointer;
}

td:hover {
  font-weight: bold;
  color: #ff5500;
}

input {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 20vw;
  min-height: 30px;
  text-align: center;
  font-weight: bold;
}

.inputWrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #999;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .searchContainer {
    height: 75vh;
  }

  .inputContainer {
    flex-direction: column;
  }

  input {
    width: 90vw;
    margin-bottom: 3px;
  }

  thead {
    display: none;
  }

  th,
  td {
    font-size: smaller;
    padding: 4px;
  }

  tr {
    display: flex;
    margin-bottom: 6px;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  td {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90vw;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 10%;
  }
}
