.searchContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.inputContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-bottom: 5vh;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

th,
td {
  border: 0.5px solid #ddd;
  padding: 6px;
  width: 20vw;
  font-size: larger;
  border-radius: 3px;
}

th {
  color: white;
  background-color: #333;
}

td {
  transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

tr:hover {
  background-color: #e3e1e7;
  cursor: pointer;
}

td:hover {
  font-weight: bold;
  color: #ff5500;
}

input {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 20vw;
  min-height: 30px;
  text-align: center;
  font-weight: bold;
}
